@import '~antd/dist/antd.css';

html{
    --antd-wave-shadow-color: #EA7E84 !important;
  }

.titulo {
    color: #6D7970 !important;
    text-align: center;
}

.img-personagem {
    width: 20rem;
    margin-bottom: 1rem;
}

.container_item {
    width: 100%;
    margin: 1vh 0;
    justify-content: center;
    display: flex;
}

.container_item>h2 {
    font-weight: bold;
    font-size: 2rem;
    color: --var(black);
}
.img-resultado-quiz{
    width: 12rem;
}
.margin-page-quiz{
    margin-top: 10%;
    padding-bottom: 6rem;
}

.container_step {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    margin: 3% 0;
    /* width: 70vw;
    min-width: 70vh; */
    /* border: 2px solid #E5E5E5;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: white; */
}

.button-quiz-enviar {
    background: #EA7E84;
    border: none;
    border-radius: 16px;
    width: 13rem;
    height: 3rem;
    box-shadow: 1px 3px 3px 1px #EA7E84;
    font-size: 1.2rem;
}

.button-quiz-enviar-row {
    align-content: center !important;
    margin-top: 20% !important;
}

.button-catalogo{
    background: #EA7E84;
    border: none;
    border-radius: 16px;
    width: 13rem;
    height: 3rem;
    box-shadow: 1px 3px 3px 1px #EA7E84;
    font-size: 1.2rem;
    margin-bottom: 16%;
}

.button-quiz-enviar .ant-btn-primary:active  {
    background-color: #EA7E84 !important;
  }

.ant-layout {
    background: #F6F6F6 !important;
}

.text-quiz {
    color: #6D7970;
}

.card-opcoes {
    border: solid 1px #8AB77B;
    width: 80%;
    height: auto;
    margin: 10px 0;
    background: transparent;
    padding: 2vw;
    border-radius: 16px;
    cursor: pointer;
    color: #6D7970;
    white-space: normal !important;
}

.card-opcoes:focus {
    background: #75B47B !important;
    border: solid 1px #75B47B !important;
    color: #F6F6F6!important;
}


@media (max-width: 428px) {
    .card-opcoes {
        padding: 3vw;
    }
}

@media (max-width: 384px) {
    .img-personagem {
        width: 17rem;
    }
}